@import "../scss/core.scss";

header {
  background: url("../img/header_background.jpg") top center;
  .logo {
    p {
      font: 30px $Exo-ExtraBold, sans-serif;
      color: $text-white;
      margin-top: 15px;
      span {
        font-family: $Exo-Regular;
      }
    }
  }
  .menu {
    padding: 0;
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        float: left;
        padding-left: 30px;
        a {
          text-decoration: none;
          text-transform: $text-transform-up;
          font: 13px/70px $Helv-Med, sans-serif;
          color: $text-white;
          &:hover {
            color: $text-blue;
          }
        }
      }
    }
  }
}

section.contacts {
  margin-top: 40px;
  color: $text-black;
  .adress {
    font: 15px $Helv-Reg, sans-serif;
    img {
      float: left;
      padding-right: 10px;
    }
    p {
      margin-top: 7px;
    }
  }
  .work_days {
    @extend  .adress;
    background: url("../img/background-work-days.png") no-repeat;
    padding: 0;
    .content_days {
      padding-left: 7px;
      p {
        span {
          font-family: $Helv-Bold, sans-serif;
        }
      }
    }
  }
  .phone {
    margin-top: 7px;
    padding: 0;
    font: 20px $Helv-Bold, sans-serif;
    .code_phone {
      margin-top: 7px;
    }
    .telephone {
     padding: 0;
      margin-top: 3px;
      p {
        font-size: 27px;
      }
    }



  }
}