//custom
$text-transform-up: uppercase;

//text-color
$text-black: #1f2426;
$text-white: #fff;
$text-blue: #1d8bc2;

//color
$color-black: #1f2426;
$color-white: #fff;
$color-blue: #1d8bc2;

//font
$Helv-Med: 'HelveticaNeueCyr-Medium';
$Helv-Light: 'HelveticaNeueCyr-Light';
$Helv-Bold: 'HelveticaNeueCyr-Bold';
$Helv-Black: 'HelveticaNeueCyr-Black';
$Exo-ExtraBold: 'Exo-ExtraBold';
$Exo-Regular: 'Exo-Regular';


